/*
 Authors:     Yusuf Alam, Goshanraj Govindaraj, Gureet Kharod, Arkel Ziko
 MACIDs:      alamy1, govindag, kharodg, zikoa
 Date:        March 28th, 2025
 Description: styles  the navigation bar buttons making switching through pages user friendly 
*/

.navbar {
  background-color: #f9f9f9;
  height: 60px;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #ff9800;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-links li {
  flex: 1;
  text-align: center;
  height: 100%;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  transition: background-color 0.25s, color 0.25s;
}

.nav-links li a:hover {
  background-color: #fff3e0;
  color: #cc0000;
}
